.song-detail {
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
  background-color: #fafafa;
  border-radius: 10px;
}

.song-detail img {
  display: block;
  margin: 20px auto;
}

.song-detail h2 {
  text-align: center;
  color: #333;
}
